{% extends 'base.html' %}

{% block title %}Community Features{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>Community Features</h2>
        <ul class="list-group mb-4">
            <li class="list-group-item">- Post and share your wood recycling projects</li>
            <li class="list-group-item">- Connect with other users and the company</li>
            <li class="list-group-item">- Real-time chat and messaging</li>
            <li class="list-group-item">- View and comment on community posts</li>
            <li class="list-group-item">- Access your profile and connections</li>
        </ul>
        <div class="alert alert-info">Login is now available from the top menu on any page.</div>
    </div>
</div>
{% endblock %}
